<script defer src="assets/js/vendor/gsap.min.js"></script>
<script defer src="assets/js/vendor/ScrollTrigger.min.js"></script>
<script defer src="assets/js/vendor/SplitText.min.js"></script>
<script defer src="assets/js/vendor/lenis.min.js"></script>
<script defer src="assets/js/data.js"></script>
<script defer src="assets/js/core.js"></script>
<script defer src="assets/js/icons.js"></script>
<script defer src="assets/js/ui.js"></script>
<script defer src="assets/js/shop.js"></script>
<script defer src="assets/js/forms.js"></script>
<script defer src="assets/js/fx.js"></script>
